<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
    </configSections>
    <connectionStrings>
        <add name="ConnectionString" connectionString="Data Source=THUNDERBIRD;Initial Catalog=controle_manut;Integrated Security=True"
            providerName="System.Data.SqlClient" />
    </connectionStrings>
</configuration>